<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Your Kindle Activity</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/screen.css">
</head>
<body>
<div class="container">
    <div class="item-list">
        {% for index, item in items %}
            {% set cls = index%2 ? "odd" : "even" %}
            <article class="item">
                <div class="item-content">
                    {{item.content}}
                </div>
                <footer>
                    <a class="link" href="/{{item.uid}}"> >></a>
                </footer>
            </article>
        {% endfor %}
    </div>

    <div class="page-nav clearfix">
        {% if pre %}
            <a class="btn btn-lg btn-success pull-left" href="/page/{{pre}}"><< Pre</a>
        {% endif %}

        {% if next %}
            <a class="btn btn-lg btn-success pull-right" href="/page/{{next}}">Next >></a>
    </div>
        {% endif %}

    <footer class="footer">
        &copy; <a href="http://zhy.li" target="_blank">zhiyelee</a> build with KOA and Mongodb
        <span class="gh">
            <iframe src="http://ghbtns.com/github-btn.html?user=zhiyelee&repo=kindle-activity&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe>
        </span>
    </footer>
</div>

</body>
</html>