{% extends 'layout.html' %}

{% block title %}{{sitetitle}}{% endblock %}
{% block content %}
    <form id="s" class="form-inline">
        <input type="text" class="form-control search" placeholder="npm" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div class="item-list">
        {% for index, item in items %}
            {% set cls = index%2 ? "odd" : "even" %}
            <article class="item">
                <div class="item-content">
                    {{item.content}}
                </div>
                <footer>
                    <a class="link" href="/{{item.uid}}"> >></a>
                </footer>
            </article>
        {% endfor %}
    </div>

    <div class="page-nav clearfix">
        {% if pre %}
            <a class="btn btn-lg btn-success pull-left" href="/page/{{pre}}"><< Pre</a>
        {% endif %}

        {% if next %}
            <a class="btn btn-lg btn-success pull-right" href="/page/{{next}}">Next >></a>
    </div>
        {% endif %}
{% endblock %}

