{% extends 'layout.html' %}

{% block title %}KA - {{itemId}} - {{sitetitle}}{% endblock %}
{% block content %}
    <article class="item">
        <div class="item-content">
            {{item.content}}
        </div>
        <footer>
            <span class="share-btn"></span>
            <a class="link" href="{{item.url}}" target="_blank">View Original</a>
        </footer>
    </article>
        <script>
            var config = {
                description: '{{item.content | replace("\s+", " ", "g") | replace("(\w{1, 100})", "\1", "g") | escape}}',
                networks: {
                    pinterest: {
                        enabled: false
                    },
                    email: {
                        enabled: false
                    }
                }
            };

            var share = new Share('.share-btn', config);
        </script>
{% endblock %}
